.header-container {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    flex-flow: row wrap;}

.logo {
    width: auto;
}

.auth-container {
    width: auto;
    display: flex;
    align-content: space-between;
    gap: 10px;
}